.image-item-row {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  padding: 0.4rem 0;

  .row-item {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.ReactVirtualized__List,
.ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

@media screen and (min-width: 768px) {
  .image-item-row {
    padding: 0.5rem 0;
    .row-item {
      width: 49%;
    }
  }
}

@media screen and (min-width: 992px) {
  .image-item-row {
    .row-item {
      width: 32.5%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .image-item-row {
    .row-item {
      width: 24%;
    }
  }
}
